/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.our-btn {
    border-radius: 0;
    background: #ba363a;
    color: #fff;
    font-weight: bold;
    transition: all .2s linear;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    font-size: 12px;
}
.our-btn:hover, .our-btn:focus {
    box-shadow: none;
    user-select: none;
    background: #9e2e31;
    color: #fff;
}
.navbar .nav-link {
    color: #222;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    display: flex;
    align-items: center;
}
.form-group{
    display:flex !important;
    flex-direction:column;
    justify-content:flex-end
}
.form-control{
    border-radius:0
}
    .form-control:focus {
        box-shadow: 0px 0px 5px #949494;
    }
    .export-import a {
        border: 2px solid #ba363a;
        color: #ba363a;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        transition: all .2s linear;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        font-size: 12px;
        padding: 10px;
    }
    .export-import a:hover, .export-import a:focus{
        text-decoration:none;
        background:#ba363a;
        color:#fff;
    }
    table{
        font-size:14px;
    }
.table td, .table th{
    padding:.5rem;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
